* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

#level-selection {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#exercise-selection, #exercise-timer {
    margin-top: 20px;
    text-align: center;
}

#exercise-name {
    font-size: 1.5em;
    margin-top: 20px;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9em;
}
